<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HomeDepot_CodeAssignment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E2C215620F8796800A94433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E2C216A20F8796A00A94433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E2C217520F8796A00A94433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
